@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Content>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
	var selection = CurrentPage.AncestorOrSelf(2).Children.Where("Visible");
}
@CurrentPage.bodyText
	 @foreach (var page in selection)
					{
					<li>
                        <a href="@page.Url">@page.Name</a>
                    </li>
					}
     <hr>
                <!-- Pager -->
                			<ul class="pager">
                    			<li class="next">
                       				 <a href="#">Older Posts &rarr;</a>
                    			</li>
               				</ul>