@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Content>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
@CurrentPage.bodyText
               <hr>
                <!-- Pager -->
                			<ul class="pager">
                    			<li class="next">
                       				 <a href="#">Older Posts &rarr;</a>
                    			</li>
               				</ul>